<!--  slider section-->
<section class="slider" id="slider">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div style=" background: black;">
          <img src="images/news2.jpg" alt="#" />
        </div>

        <div class="carousel-caption">
          <h1 class=" rotateInUpRight">Изготовление памятников</h1>
          <p class=" bounceInDown">Изделия из натурального камня с художественным оформлением </p>
          <a class="tada" href="#service">Подробнее</a>
        </div>
      </div>
      <div class="item">
        <div style=" background: black;">
          <img src="images/news1.jpg" alt="#" />
        </div>
        <div class="carousel-caption">
          <h1 class=" bounceInLeft">Дополгительные услуги</h1>
          <p class=" bounceInRight">Обслуживание памятников и погребальных сооружений под ключ</p>
          <a class=" bounceInUp" href="#service">Подробнее</a>
        </div>
      </div>
      <div class="item">
        <div style=" background: black;">
          <img src="images/slide2.jpg" alt="#" />
        </div>
        <div class="carousel-caption">
          <h1 class=" lightSpeedIn">Сопутствующие товары</h1>
          <p class=" slideInDown">Большой выбор товаров в наличии и под заказ</p>
          <a class=" rotateIn" href="#service">Подробнее.</a>
        </div>
      </div>
      <!--<div class="item">-->
      <!--<img src="images/slide3.jpg" alt="#" />-->
      <!--<div class="carousel-caption">-->
      <!--<h1 class=" zoomIn">Health Is Divine</h1>-->
      <!--<p class=" rollIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos repellat voluptatum in harum, debitis doloremque!</p>-->
      <!--<a class=" zoomInUp" href="#">read more</a>-->
      <!--</div>-->
      <!--</div>-->
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <i class="fa fa-angle-left" area-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <i class="fa fa-angle-right" area-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- slider ends -->



<!-- appointment section -->
<!--<section class="appointment text-center" id="appointment">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<h2>make an appointment</h2>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nobis rerum iure nostrum dolor. Quo totam possimus ex sapiente rerum.</p>-->
<!--<div class="col-md-6">-->
<!--<img src="images/appointment.jpg" alt="#" class="img-responsive" title="Appointment with our great Doctors">-->
<!--</div>-->
<!--<div class="col-md-6">-->
<!--<form action="?" method="post" class="form-horizontal">-->
<!--&lt;!&ndash; first name &ndash;&gt;-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<input name="first_name" type="text" placeholder="First Name" class="form-control" required>-->
<!--</div>-->
<!--&lt;!&ndash; last name &ndash;&gt;-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<input name="last_name" type="text" placeholder="Last Name" class="form-control" required>-->
<!--</div>-->
<!--&lt;!&ndash; email address &ndash;&gt;-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<input name="email" type="email" placeholder="Email" class="form-control" required>-->
<!--</div>-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<input name="phone" type="text" placeholder="Mobile Number" class="form-control">-->
<!--</div>-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<input name="date" type="text" id="datepicker" placeholder="mm/dd/yy" class="form-control" required>-->
<!--</div>-->
<!--<div class="col-md-6 col-sm-6">-->
<!--<select name="gender" class="form-control">-->
<!--<option value="male">Male</option>-->
<!--<option value="female">Female</option>-->
<!--<option value="child">Child</option>-->
<!--<option value="other">Other</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="col-md-12 clearfix">-->
<!--<textarea name="message" id="appointment-message" rows="8" placeholder="Message" class="form-control"></textarea>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<input type="submit" value="submit" class="form-control">-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!-- appointment seciton ends -->

<!-- our services -->
<section class="services" alt="service" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Сервис</h2>
        <p>Наша компания на рынке более 10 лет и мы оказываем услуги на высоком уровне. </p>
        <div class="row">
          <div class="col-md-12 single-services">
            <!-- service 1 -->
            <div class="col-md-12 col-sm-12">
              <div class="single-service service-1">
                <span></span>
                <h3>Памятники</h3>
                <p> Одиночные, Двойные, Элитные, Кресты ...</p>
              </div>
            </div>
            <!-- service 2 -->
            <div class="col-md-12 col-sm-12">
              <div class="single-service service-2">
                <span></span>
                <h3>Услуги</h3>
                <p> Обработка, Гравировка, Установка, Реконструкция ...</p>
              </div>
            </div>
            <!-- service 3 -->
            <div class="col-md-12 col-sm-12">
              <div class="single-service service-3">
                <span></span>
                <h3>Товары</h3>
                <p> Вазы, Бронзовые буквы, Позолота буквы, Живой газон ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 service-tb">
        <img src="images/my_image/ceh-2.png" alt="medihere Services" class="img-responsive" title="Our Services Images">
        <h3>почему выбирают нас</h3>
        <div class="panel-group" id="general-questions">
          <div class="panel faq-panel">
            <div class="faq-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#general-questions" href="#gf1" aria-expanded="false">
                  Well Experienced Doctors <i class="indicator glyphicon  pull-right glyphicon-plus"></i>
                </a>
              </h4>
            </div>
            <div id="gf1" class="panel-collapse collapse" aria-expanded="false" role="tablist" style="height: 0px;">
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
              </div>
            </div>
          </div>

          <div class="panel faq-panel">
            <div class="faq-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#general-questions" href="#gf2" aria-expanded="false">
                  Feel Like you are at Home Services <i class="indicator glyphicon pull-right glyphicon-plus"></i>
                </a>
              </h4>
            </div>
            <div id="gf2" role="tablist" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
              </div>
            </div>
          </div>

          <div class="panel faq-panel">
            <div class="faq-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#general-questions" href="#gf3" aria-expanded="false">
                  Online Bill Payment <i class="indicator glyphicon glyphicon-plus pull-right"></i>
                </a>
              </h4>
            </div>
            <div id="gf3" role="tablist" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service section ends -->

<!-- team section -->
<section class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="team-heading text-center">
        <h2>Наши работы</h2>
        <p>В нашем партфолио много работ.Для быстрого ознакомления некоторые из них</p>
      </div>
      <div id="team-slide" class="owl-carousel">
        <!-- member 1 -->
        <div class="item">
          <div class="member-image">
            <img src="images/partfolio245_200/1.jpg" alt="medihere Team Member" title="John Smith">
            <div class="item-cap">
              <a style="margin-top: 15%" class="btn btn-info" ng-href="#!/portfolio/1">Подробнее</a>
            </div>
          </div>
          <h3>John Smith</h3>
          <h4>Cardiology</h4>
        </div>
        <!-- member 2 -->
        <div class="item">
          <div class="member-image">
            <img src="images/partfolio245_200/2.jpg" alt="medihere Team Member" title="Jubaida Banu">
            <div class="item-cap">

              <a style="margin-top: 15%" class="btn btn-info" ng-href="#!/portfolio/2">Подробнее</a>
            </div>
          </div>
          <h3>Jubaida Banu</h3>
          <h4>Orthopaedics</h4>
        </div>
        <!-- member 3 -->
        <div class="item">
          <div class="member-image">
            <img src="images/partfolio245_200/3.jpg" alt="medihere Team Member" title="M. A. Kulsum">
            <div class="item-cap">

              <a style="margin-top: 15%" class="btn btn-info" ng-href="#!/portfolio/3">Подробнее</a>
            </div>
          </div>
          <h3>M. A. Kulsum</h3>
          <h4>Dental Specialist</h4>
        </div>
        <!-- member 4 -->
        <div class="item">
          <div class="member-image">
            <img src="images/team-member4.jpg" alt="medihere Team Member" title="D. P. Jorina">
            <div class="item-cap">
              <a style="margin-top: 15%"class="btn btn-info"ng-href="#!/portfolio/4">Подробнее</a>
            </div>
          </div>
          <h3>D. P. Jorina</h3>
          <h4>Neurology</h4>
        </div>
        <!-- member 5 -->
        <div class="item">
          <div class="member-image">
            <img src="images/team-member5.jpg" alt="medihere Team Member" title="M. C. Jalil">
            <div class="item-cap">
              <a style="margin-top: 15%"  class="btn btn-info" href=ng-href="#!/portfolio/5">Подробнее</a>
            </div>
          </div>
          <h3>M. C. Jalil</h3>
          <h4>Haematology</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team section ends -->

<!-- about section -->
<section class="home-about text-center">
  <div class="aboverlay"></div>
  <div class="container">
    <div class="row">
      <div class="about-heading">
        <h2>See what Patients saying about us</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptas a, illum rerum asperiores. Illum.</span>
      </div>
      <div id="about-content" class="owl-carousel owl-theme">
        <div class="item">
          <img src="images/patient1.jpg" alt="The Last of us">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptatem quae, dicta molestias optio tempore quasi iste, repellat quam. Accusamus, perferendis qui aliquid voluptatibus laborum fugiat rerum, ab labore animi inventore nam quas eaque ducimus vel deleniti. Eveniet perferendis minima quos temporibus fuga doloremque magnam, sequi eligendi est. Nobis voluptas repellat quis nostrum, rerum est tempore excepturi quibusdam eveniet ullam nam.</p>
          <h3>Luis PK <span>( CEO, Ghurar dim )</span></h3>
          <h4>VIP Patient</h4>
        </div>
        <div class="item">
          <img src="images/patient2.jpg" alt="The Last of us">
          <p>Laudantium quis, aliquid commodi excepturi doloribus voluptatum debitis, pariatur incidunt harum quibusdam obcaecati quo saepe similique, temporibus eum minima magnam quaerat optio in suscipit nemo enim sint. Rerum vero ipsum autem recusandae tempore quis asperiores, velit? Quis, atque, quaerat.</p>
          <h3>Apod A, M <span>(President, T E O center )</span></h3>
          <h4>Regular patient</h4>
        </div>
        <div class="item">
          <img src="images/patient3.jpg" alt="The Last of us">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestias, dolorem neque sunt consequatur, ea cumque. Soluta possimus, animi doloribus natus sequi rem aliquam at fuga minus! Unde facilis obcaecati vel officia at nulla pariatur, similique provident vitae voluptates odit cupiditate adipisci est, inventore tempore fugiat atque accusantium minima eaque!</p>
          <h3>Kate Bouche <span>( Accountant, J Y Association )</span></h3>
          <h4>Dental Patient</h4>
        </div>
        <div class="item">
          <img src="images/patient4.jpg" alt="The Last of us">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestias, dolorem neque sunt consequatur, ea cumque. Soluta possimus, animi doloribus natus sequi rem aliquam at fuga minus! Unde facilis obcaecati vel officia at nulla pariatur, similique provident vitae voluptates odit cupiditate adipisci est, inventore tempore fugiat atque accusantium minima eaque!</p>
          <h3>Tomas D L <span>( MD, F P Magnatic )</span></h3>
          <h4>VIP Patient</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section ends -->

<!-- news section -->
<section class="latest-post" id="blog">
  <div class="container">
    <div class="row">
      <div class="latest-news-heading col-md-12">
        <h2>Последние сообщения от нашего блога</h2>
        <p>Самые актуальный носвти нашего предприятия. Инновации и технологии в нашем бизнесе. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, commodi minus autem quae doloremque dolore.</p>
        <a href="blog.html" class="btn btn-info text-right">See All Posts <i class="fa fa-angle-right"></i></a>
      </div>
      <div class="latest-posts-contents">
        <div class="col-md-4 col-sm-6 single-latest-post">
          <img src="images/news1.jpg" alt="#" title="medihere Blog Post">
          <h3><a href="blog-single.html">Blog Post Title Goes Here</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, commodi minus autem quae doloremque dolore. <a href="#">Read More</a></p>
          <div class="post-meta">
            <span class="meta-time"><i class="fa fa-calendar"></i> 19 February 2016</span>
            <span class="meta-comment"><a href="#"><i class="fa fa-comment-o"></i> 3 Comments</a></span>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 single-latest-post">
          <img src="images/news2.jpg" alt="#" title="medihere Blog Post">
          <h3><a href="blog-single.html">Blog Post Title Goes Here</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, commodi minus autem quae doloremque dolore. <a href="#">Read More</a></p>
          <div class="post-meta">
            <span class="meta-time"><i class="fa fa-calendar"></i> 17 February 2016</span>
            <span class="meta-comment"><a href="#"><i class="fa fa-comment-o"></i> 4 Comments</a></span>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 single-latest-post">
          <img src="images/news3.jpg" alt="#" title="medihere Blog Post">
          <h3><a href="blog-single.html">Blog Post Title Goes Here</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, commodi minus autem quae doloremque dolore. <a href="#">Read More</a></p>
          <div class="post-meta">
            <span class="meta-time"><i class="fa fa-calendar"></i> 14 February 2016</span>
            <span class="meta-comment"><a href="#"><i class="fa fa-comment-o"></i> 6 Comments</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="js/jquery-2.1.1.js"></script>
<!-- date picker js -->
<script type="text/javascript" src="js/datepicker.js"></script>
<!-- bootstrap 3.3.6 js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- owl carousel js-->
<script type="text/javascript" src="js/owl.carousel.js"></script>
<!-- smooth scroll js -->
<script type="text/javascript" src="js/smoothscroll.js"></script>
<!-- preloader js -->
<script type="text/javascript" src="js/jquery.introLoader.pack.min.js"></script>
<!-- custom scripts -->
<script type="text/javascript" src="js/script.js"></script>
