<section class="about" id="about">
    <div class="container abcontainer">
        <div class="page-nav">
            <span class="heading-nav"><a href="index.html">Home</a> | About Us</span>
        </div>
        <div class="row">
            <div class="col-md-6 text-left">
                <h2>Who We Are</h2>


                <p style="color: #707070">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium blanditiis quam quaerat quis soluta provident eaque, commodi eum aliquam sit natus impedit quisquam officiis molestiae. Minus ipsam asperiores, nesciunt autem. Saepe voluptatibus nemo nesciunt atque commodi quod expedita vero, amet obcaecati quibusdam, nisi blanditiis officiis, ipsum assumenda dolore aspernatur deserunt? Illum, aut unde repellat quaerat corrupti magnam debitis alias necessitatibus non quibusdam.
                <p> Odit hic magni est mollitia nulla, modi sit dignissimos! Repellat voluptate doloremque sunt dolores, veritatis provident, aliquam fugiat, id a facere quidem! Praesentium ipsa atque illo at commodi sunt illum laudantium culpa, molestiae repudiandae alias cupiditate asperiores architecto aperiam assumenda adipisci tempora facilis nisi aut sapiente, voluptates veniam expedita facere! Veniam veritatis necessitatibus inventore tempore praesentium ab eos et placeat tempora, amet qui rem voluptate numquam non blanditiis sapiente laudantium.
                <p> Commodi repudiandae explicabo perspiciatis, odio odit est itaque, earum, vel cumque iusto velit atque ullam dignissimos optio. </p>
            </div>
            <div class="col-md-6">
                <img src="images/my_image/about_1.jpg" alt="#" class="img-responsive" title="About us image">
            </div>
        </div>
    </div>
</section>
<!-- about section ends -->

<div class="hospital text-center">
    <div class="container">
        <div class="row">
            <h2>our office</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum doloribus, vel ipsum assumenda, placeat quia.</p>
            <img src="images/my_image/granit_1.jpg" alt="#" class="img-responsive" title="Medihere Hospital">
        </div>
    </div>
</div>